/*Body of the index.html page */
body{
	font-family: 'Belleza', sans-serif;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /*475px*/
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}