/*Dark Purple #420722, Dark Blue #0D1330, Cream #D9D4A3, Light Cream #F3EDC9, Pink #9E605E */

body{
	font-family: 'Belleza', sans-serif;
	line-height: 125%;
    background-color: #FFF;
    border-width: 2em;
    border-radius: 1.25%; /*10px*/
    margin-top: -25px;
   
}

header{
	margin: 0 auto;
	padding: 1.5%;
	text-align: center;
}

header #home{
	z-index: -999;
	opacity: .5;
	position: fixed;
	top: 0;
	left: 0;
}

h1{
	color: #0D1330;
    font-size: 3em; /* 16px/54px */
    text-align: center;
    line-height: 100%;
    margin: 0;
    padding: 0; /* 20px/800px */         
}

h2{
	color: #420722;
	font-size: 2em;
	text-align:center;
	line-height: 100%;
	margin: 1em;
	padding: 0;

}

section{
	margin:0 auto;
	text-align: left;
	display:inline;
	-moz-column-count: 1; /* Firefox */
    -webkit-column-count: 1; /* Safari and Chrome */
}

h3, h4{
	font-size: 1.25em;
}

#flashcontent{
	padding-top: .5em;
	padding-bottom: .5em;
}

footer {
        color: #FFF;
        text-shadow: 0.25em 0.25em 0.25em #424331;
        text-align: center;
        background-color: #000;
        margin-top: 10px;
        clear:both;
}